<div class="container natural-margin">
<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @topic.title %>
</p>

<p>
  <b>Descritption:</b>
  <%= @topic.descritption %>
</p>

<p>
  <b>Value:</b>
  <%= @topic.value %>
</p>


<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
</div>

<%= render :partial =>  "examination/form_quest"%>