
<b>Agregar pregunta:</b><br>
<%= form_for ([@topic, @topic.quests.build]), :remote => true do |quest|%>
	<div id="clone_elements">
	 <%= quest.text_area :description,:rows => 3, :class => "span6" %></br>
	 <%=  quest.select :value, (5...100) %>
	 <%= quest.hidden_field :topic_id, :value => @topic.id %>
     <%= quest.submit "Publicar", :class => "btn btn-primary"%>
    </div>
<%end%>



